img {
    width: 75%;
    height: auto;
}

div {
    display: inline-flex;
}

    div:nth-of-type(1) > figure:nth-of-type(1) > img:hover {
        transform: scale(0.5);
    }

    div:nth-of-type(1) > figure:nth-of-type(2) > img {
        transform: rotate(45deg);
    }

    div:nth-of-type(1) > figure:nth-of-type(3) > img {
        transform: translate(50px, 0px);
    }

    div:nth-of-type(1) > figure:nth-of-type(4) > img:hover {
        transform: skew(-20deg);
    }

    div:nth-of-type(2) > figure:nth-of-type(1) > img {
        transform: rotateX(45deg);
    }

    div:nth-of-type(2) > figure:nth-of-type(2) > img {
        transform: rotateY(45deg);
    }

    div:nth-of-type(2) > figure:nth-of-type(3) > img {
        transform: rotateX(45deg);
    }

    div:nth-of-type(2) > figure:nth-of-type(4) > img {
        transform: rotateY(-45deg);
    }

    div:nth-of-type(3) {
        display: block;
        width: 300px;
        height: 300px;
        background-color: blue;
        transition: background-color 20s linear;
    }

        div:nth-of-type(3):hover {
            background-color: magenta;
        }

@keyframes switch-imgs {
    0% {
        background-image: url(img/1.png);
    }

    25% {
        background-image: url(img/2.png);
    }

    50% {
        background-image: url(img/3.png);
    }

    75% {
        background-image: url(img/4.png);
    }

    100% {
        background-image: url(img/5.png);
    }
}

div:nth-of-type(4) {
    background-size: contain;
    display: block;
    width: 300px;
    height: 300px;
    border: 2px solid red;
    animation-name: switch-imgs;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

div:nth-of-type(5) > figure > img {
    position: relative;
}

div:nth-of-type(5) > figure:nth-of-type(1) > img {
    animation: horizontal 4s linear infinite;
}

@keyframes horizontal {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(200px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

div:nth-of-type(5) > figure:nth-of-type(2) > img {
    animation: vertical 4s linear infinite;
}

@keyframes vertical {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 200px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

div:nth-of-type(5) > figure:nth-of-type(3) > img {
    offset-path: path("M20,20 C20,100 200,0 200,100");
    animation: path 3s infinite alternate ease-in-out;
}

@keyframes path {
    0% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 100%;
    }
}

div:nth-of-type(5) > figure:nth-of-type(4) > img {
    animation: square 4s linear infinite;
}

@keyframes square {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 200px;
        top: 0;
    }

    50% {
        left: 200px;
        top: 200px;
    }

    75% {
        left: 0;
        top: 200px;
    }

    100% {
        left: 0;
        top: 0;
    }
}

p {
    position: relative;
    animation: around 4s linear infinite;
}

ul.nav {
    list-style-type: none;
    position: fixed;
    width: min-content;
    right: 0;
    margin-right: 5px;
}

    ul.nav a {
        display: block;
    }

    ul.nav > li:nth-child(1) > a:link {
        text-decoration: none;
        color: red;
    }

    ul.nav > li:nth-child(1) > a:visited {
        text-decoration: underline;
    }

    ul.nav > li:nth-child(2) > a:visited {
        color: #8B0000;
    }

    ul.nav > li:nth-child(3) > a:hover {
        color: green;
    }

    ul.nav > li:nth-child(4) > a:active {
        color: rgb(184, 134, 11);
    }

nav {
    display: inline-block;
}

    nav li {
        display: inline;
        float: left;
    }

    nav a {
        display: inline-block;
        border: 1px solid black;
        padding: 5px 15px 5px 15px;
        background-color: yellow;
        text-decoration: none;
        color: green;
    }
