<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="Lab_05.WCFSimplex">
				<endpoint address="" binding="basicHttpBinding" contract="Lab_05.IWCFSimplex">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="" binding="netTcpBinding" contract="Lab_05.IWCFSimplex" bindingConfiguration="TCPSimplex" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8789/Design_Time_Addresses/Lab_05/WCFSimplex/" />
						<add baseAddress="net.tcp://localhost:8790/Design_Time_Addresses/Lab_05/WCFSimplex/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="TCPSimplex" portSharingEnabled="true"></binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>