h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Monotype Corsiva";
  color: #ff00ff;
}

.general > li {
  font-family: "Times New Roman";
}

.one > li {
  color: red;
  font-size: 18pt;
}

.two > li {
  color: yellow;
  font-size: 20pt;
}

.three > li {
  color: green;
  font-size: 22pt;
}
