<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFSimplex" />
                <binding name="BasicHttpBinding_IWCFSimplex1" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWCFSimplex">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IWCFSimplex1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8789/Design_Time_Addresses/Lab_05/WCFSimplex/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFSimplex"
                contract="WCFSimplexConsole.IWCFSimplex" name="BasicHttpBinding_IWCFSimplex" />
            <endpoint address="net.tcp://localhost:8790/Design_Time_Addresses/Lab_05/WCFSimplex/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCFSimplex"
                contract="WCFSimplexConsole.IWCFSimplex" name="NetTcpBinding_IWCFSimplex">
                <identity>
                    <userPrincipalName value="ISIT-115-1-PRIN\User" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:789/PI-POIBMS-4/Lab-05/WCFSimplex.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFSimplex1"
                contract="WCFSimplexIIS.IWCFSimplex" name="BasicHttpBinding_IWCFSimplex1" />
            <endpoint address="net.tcp://isit-115-1-prin:789/PI-POIBMS-4/Lab-05/WCFSimplex.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCFSimplex1"
                contract="WCFSimplexIIS.IWCFSimplex" name="NetTcpBinding_IWCFSimplex1">
                <identity>
                    <servicePrincipalName value="host/ISIT-115-1-prin" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>